# Node.js dependencies
node_modules/
bun.lockb

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
